*{
  margin: 0;
  padding: 0;
  font-family: Labor;
  color: white;
}

a{
  text-decoration: none;
  color: white;
  margin-left: 2%;
}

@font-face {
  font-family: Labor;
  src: url(./assets/fonts/LaborUnion.ttf);
}

body{
  background-color: rgba(30, 30, 30, 1);
}

h1{
  margin-top: 24px;
}

.Header{
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: rgba(47, 47, 47); 
  border-bottom: white solid 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav{
  margin-top: 3%;
}

.Tile img{
  width: 48px;
  height: 48px;
  position: relative;
}
.Tile{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected{
  background-color: green;
}

.available{
  height: 16px;
  width: 16px;
  background-color: rgb(75, 138, 75);
  border-radius: 50%;
}

.white{
  background-color: rgb(201 ,201 ,201);
}

.black{
  background-color: rgb(101 ,101, 101);
}


.Desk{
  border: black 2px solid;
  width: calc(64px*8);
  height: calc(64px*8);
  display: flex;
  flex-wrap: wrap;

}
.Lobby{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Footer{
  height: 100px;
  width: 100%;
  background-color: rgba(47, 47, 47);
  border-top: white solid 1px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Footer_Links{
  width: 60%;
}

.Logo{
  margin-top: 1%;
}
.Footer_Logo{
  margin-top: 2%;
}
.Navigation{
  width: 75%;
}

.Register_Component, .Login_Component{
  background-color: rgba(100, 100, 100);
}

.Register_Component{
  width: 600px;
  height: 680px;
}

.Register_Form{
  justify-content: center;
  align-items: center;  
}

.MainContainer{
  margin-top: 1%;
}
.MainTitles{
  margin-top: 1%;
}

input{
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  color: black;
}
.account_navigation{
  justify-content: center;
  align-items: center;
  text-align: center;
}

