* {
  margin: 0;
  padding: 0;
  font-family: Labor;
  color: white;
  /* overflow: hidden; */
}

a {
  /* text-decoration: none; */
  color: white;
  margin-left: 2%;
}

@font-face {
  font-family: Labor;
  src: url(./assets/fonts/LaborUnion.ttf);
}

body {
  background-color: rgba(30, 30, 30, 1);
}

h1 {
  margin-top: 24px;
}


.Header {
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  background-color: rgba(47, 47, 47);
  border-bottom: white solid 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  margin-top: 3%;
}

.Tile img {
  width: 48px;
  height: 48px;
  position: relative;
}


.Tile {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: green;
}

.available {
  height: 16px;
  width: 16px;
  background-color: rgb(75, 138, 75);
  border-radius: 50%;
}

.white {
  background-color: rgb(201, 201, 201);
}

.black {
  background-color: rgb(101, 101, 101);
}


.Desk {
  border: black 2px solid;
  width: calc(64px*8);
  height: calc(64px*8);
  display: flex;
  flex-wrap: wrap;

}

.Lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Footer {
  margin-top: 1%;
  height: 100px;
  width: 100%;
  background-color: rgba(47, 47, 47);
  border-top: white solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Footer_Links {
  width: 60%;
}

.Logo {
  margin-top: 1%;
  display: flex;
}

.Footer_Logo {
  margin-top: 2%;
}

.Navigation {
  width: 75%;
}


.MainTitles {
  margin-top: 1%;
}

input {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  color: black;
  border-radius: 10px;
  width: 130px;
  height: 38px;
}

.account_navigation {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.LearnComponent,
.MainComponent {
  margin-top: 2%;
  display: flex;
}

.logotype {
  width: 100px;
  height: 100px;
}

.text-image {
  width: 250px;
  height: 250px;
}

.Login_Container {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


button {
  color: white;
  background-color: rgba(30, 30, 30, 1);
}

.Login_Component {
  border: white solid 1px;
  width: 420px;
  height: 170px;
  background-color: rgba(100, 100, 100);
}

.Register_Component {
  border: white solid 1px;
  width: 420px;
  height: 200px;
  background-color: rgba(100, 100, 100);
}

.Register_Container {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.LoginForm,
.RegisterForm {
  display: grid;
  align-items: center;
  margin-top: 3%;
  display: flex;
}

.TextForInput {
  width: max-content;
  text-align: right;
}

.register_link,
.login_link {
  margin-top: 5%;
}


.Matches {
  border: solid white 1px;
  background-color: rgba(95, 95, 95);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Matches_Table {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(100, 100, 100);
  width: 100%;
  height: auto;
}

thead {
  background-color: rgba(93, 93, 93);
}

td {
  background-color: rgba(93, 93, 93);
}

select {
  width: 200px;
  color: black;
}

option {
  color: black;
}

.GameModeImage {
  width: 400px;
  height: 400px;
}

.PlayContainer {
  margin-top: 10%;
  columns: 2;
}